# Ignore CLion project files
.idea/

# Ignore CMake build directories
cmake-build-*/

# Ignore CMake intermediate files
CMakeFiles/

# Ignore generic text files (if you don’t want *.txt tracked)
other_test.txt
test.txt
